body {
    background: #191919;
	display: flex;
	justify-content: center;
	width: 1920px;
	height: 1080px;
	margin: 0;
	overflow: hidden;
}

.clock {
    color: rgba(50, 50, 50, 0.15);
    display: block;
    margin: auto auto;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 100px;
	transform: scale(5);
}

.clock p.separator,
.clock section {
    display: inline-block;
}

.clock section div p {
    padding: 0;
    margin: 0;
    position: absolute;
    width: 60px;
    text-align: center;
    transition: 0.3s ease color, 0.3s ease text-shadow;
}

.clock p.separator {
    font-size: 60px;
    vertical-align: top;
    margin-top: 20px;
}

.clock p.separator,
.clock section p.active {
    color: #FFE548;
    text-shadow: 0 0 20px #F58732;
}

.clock-orange  p.separator,
.clock-orange section p.active {
    color: #feb454;
    text-shadow: 0 0 20px #F58732;
}

.clock section div {
    display: inline-block;
    width: 60px;
    height: 120px;
}
